{% load static %}

<section id="{{ section_selection.section_html_id }}" class="testimonials">
    <div class="container" data-aos="fade-up" data-aos-delay="100">
        <div class="row align-items-center gy-5">

            {% if tstmnls_page_content %}
            <div class="{{ tstmnls_page_content.title_class }} section-title">
                <a href="{% url 'testimonials:index' %}">
                    <h2>{{ tstmnls_page_content.name }}</h2>
                </a>
                {{ tstmnls_page_content.description | safe }}
            </div>
            {% endif %}

            {% if testimonials %}
            <div class="{% if tstmnls_page_content %}{{ tstmnls_page_content.content_class }}{% endif %}"></div>
            
                <div id="carouselTestimonials" class="{{ tstmnls_page_content.carousel_class }}" data-bs-ride="{{ tstmnls_page_content.carousel_data_ride }}" data-bs-interval="{{ tstmnls_page_content.carousel_interval }}"">
                    
                    <div class="carousel-indicators align-items-center">
                        {% for testimonial in testimonials %}
                        <button type="button" data-bs-target="#carouselTestimonials" data-bs-slide-to="{{ forloop.counter0 }}"
                            class="button {% if forloop.first %}active{% endif %}"
                            aria-current="{% if forloop.first %}true{% endif %}"
                            aria-label="Slide {{ forloop.counter }}">
                        </button>
                        {% endfor %}
                    </div>
                    
                    <div class="carousel-inner">
                    {% for testimonial in testimonials %}
                        <div class="carousel-item {% if forloop.first %}active{% endif %}">
                            
                            {% if testimonial.video %}
                            <div class="text-center">
                                <video id="video-{{ forloop.counter }}" class="{{ testimonial.video_class }}" {{ testimonial.video_attribute }}>
                                    <source src="{{ testimonial.video.url }}" type="video/mp4">
                                    Your browser does not support the video tag.
                                </video>
                            </div>
                            {% elif testimonial.image %}
                            <div class="text-center">
                                <img src="{{ testimonial.image.url }}" class="{{ testimonial.image_class }}" alt="Testimonial Image">
                            </div>
                            {% elif testimonial.iframe_code %}
                            <div class="{{ testimonial.iframe_class }}">
                                {{ testimonial.iframe_code | safe }}
                            </div>
                            {% endif %}

                            {{ testimonial.body | safe }} 
                            
                            <div class="indicator-space"></div>
                        </div>
                    {% endfor %}
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselTestimonials" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselTestimonials" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
            </div>    
            {% endif %}
        </div>
    </div>

    <style>
    .testimonials {    
    --color-background: {{ tstmnls_page_content.color_background }};
    }
    {{ tstmnls_page_content.css_testimonial }}
    </style>

    {% if tstmnls_page_content.carousel_video_autoplay %}
    <script>
        document.addEventListener("DOMContentLoaded", function() {
            var carousel = document.getElementById("carouselTestimonials");
            var videos = carousel.querySelectorAll("video");
            
            carousel.addEventListener("slid.bs.carousel", function() {
                videos.forEach(function(video) {
                    video.pause(); // Pause all videos
                    video.currentTime = 0; // Reset video to start
                });
                
                var activeVideo = carousel.querySelector(".carousel-item.active video");
                if (activeVideo) {
                    activeVideo.play(); // Play video on active slide
                }
            });
        });
    </script>
    {% endif %}

</section>